
.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #bbb;
}   

.secondHeading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}