#select-scanner {
    max-width: 550px;
    height: calc(100vw / 4) !important;
}

@import url("https://cdn.syncfusion.com/ej2/material.css"); 
.btn {
    position: relative;
    width: 100%;
    height: 49px;   
    outline: 0; 
    border: 0;
    border-radius: 0;
    background-color: #fff;
    color: #000;
    text-align: left;
}

.dropdown-menu {
    top: 49px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
}
