.section{
    padding-left: 20px;
    width: 100%;
    z-index: 1;
}

.resultData{
    display: flex;
    flex-wrap: wrap;
}

.header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

@media (max-width:1025px) {
    .selectionPanel {
        width: 100%;
    }
    .section{
        padding-left: 0px;
    }
}