.btn {
    padding: 0.5rem 1.5rem 0.55rem;
    background-color: var(--primaryColor);
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 1;
    transition: all 0.3s ease;
    font-size: .875rem !important;
    font-weight: 700 !important;
    letter-spacing: 1.3px !important;
    text-transform: uppercase;
}

.contactBtn{
    font-size: 25px;
    color: var(--primaryColor);
}
